.works{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.works-block{
    border: 1px black solid;
    text-align: center;
    padding: 10px;
    width: 30vw;
    margin: 10px;
    border-radius: 10px;
    h3{
        margin-top: 10px;
    }
}

@media only screen and (max-width:950px){
    
    .works{
        flex-direction: column;
        align-items: center;
        .works-block{
            width: 80%;
        }
    }
}